@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f9f9;
  font-family: 'Ubuntu', sans-serif;
}

header {
  background-color: #ccf2f4;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  color: #3d3d3d;
}

.headerContainer h1 {
  font-size: 18pt;
}

.headerContainer p {
  font-size: 14pt;
}