@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f9f9;
  font-family: 'Ubuntu', sans-serif;
}

header {
  background-color: #ccf2f4;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  color: #3d3d3d;
}

.headerContainer h1 {
  font-size: 18pt;
}

.headerContainer p {
  font-size: 14pt;
}

.lowerHeader {
  padding: 1rem 3rem;
}

.highInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14pt;
}

.highInfo .leftArea ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.highInfo .leftArea ul li, .highInfo .rightArea a {
  cursor: pointer;
  color: #6b999e;
}

.highInfo .leftArea ul li:not(:last-of-type) {
  margin-right: .5rem;
}